@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  font-family: "poppins", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

.app {
  background-color: #111;
}
